body{
    padding: 0;
    display: block;
}
a{
    text-decoration: none;
    color: midnightblue;
}
a:hover{
    text-decoration: underline;
    color: cornflowerblue;
}
.hideme{
    display: none;
}
#header{
    height: 70px;
    text-align: center;
}

#leftMenu, #loginBox, #registerBox{
    padding-bottom: 20px;
}

#leftColumn{
    width: 200px;
    float: left;
}

#centerColumn{
    width: 600px;
    height: auto;
    float: left;
    border: solid 1px gainsboro;
    border-radius: 5px;
    padding-left: 30px;
    padding-top: 20px;
}

#comraitBlock{
    overflow: hidden;
}
.blockComment{
    float: left;
    width: 300px;
    height: auto;
}
#blockRait{
    float: left;
    width: 100px;
    height: 100px;
    margin-left: 30px;
}
.issetComment{
    border-color: lightgray white white;
    border-style: solid;
    border-width: thin;
    width: 300px;
}
#blockNewComment{
    width: 300px;
}

#indexBox{
    display: none;
}
#footer{
    clear: both;
}
p.commented{
    color: cadetblue;
}